**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
**/tests/
**/*.md
.gitignore
.eslintrc*
.prettierrc*
jest.config*
tsconfig.json