**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.git
**/README.md
**/LICENSE
**/.vscode
**/.pytest_cache/
**/coverage/
**/.env
**/.editorconfig
**/.aws
**/tests/
**/*.md
.gitignore
pytest.ini
.coverage
mypy.ini
pyproject.toml